:root {
  --primary-color: #00060D;
  --secondary-color: #1B2B40;
  --accent-color: #80A2A6;
  --dark-color: #BF5934;
  --light-color: #F2F2F2;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #945f79; /* Slightly darker */
  border-color: #945f79;
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
